<div class="container mt-4"> <!-- Changed mt-5 to mt-4 for consistency with profile page -->
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card friends-card">
        <div class="card-body">
          <form class="mb-4">
            <div class="input-group">
              <span class="input-group-text" id="search-addon">@</span>
              <input 
                type="text" 
                class="form-control" 
                placeholder="Search By Username" 
                aria-label="Search By Username" 
                aria-describedby="search-addon"
              >
            </div>
          </form>
          <!-- Friends List Placeholder -->
          <div class="friends-list">
            <!-- Friend items will be rendered here -->
          </div>
        </div>
        <!-- Bottom Navigation Bar inside card -->
        <nav class="nav navbar friends-bottom-nav">
          <ul class="nav nav-tabs w-100">
            <li class="nav-item flex-fill text-center">
              <a class="nav-link home-link" href="#" data-toggle="tab">
                <img src="/assets/images/homeIcon.png">
              </a>
            </li>
            <li class="nav-item flex-fill text-center">
              <a class="nav-link search-link" href="#" data-toggle="tab">
              <img src="/assets/images/searchIcon.png">
              </a>
            </li>
            <li class="nav-item flex-fill text-center">
              <a class="nav-link profile-link" href="#" data-toggle="tab">
                <img src="/assets/images/profileIcon.png">
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>